{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            {{ view.page_title }} | ExMaster
        {% endblock %}
    </title>
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/superhero/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>

<div class="container">



    <div style="float:right">
        <a href="{% url "expenses:create" %}">Add a new expense...</a>
        |
        {{ user }}
        |
        <a href="{% url 'logout' %}">Logout</a>
    </div>

    <h1>
        ExMaster!!!!!!!!!!!!!
    </h1>

    <div>

        {% block content %}
            CONTENT
        {% endblock %}

    </div>

</div>

</body>
</html>