{% load i18n staticfiles bootstrap3 %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            {{ view.page_title }} | {% trans "ExMaster" %}
        {% endblock %}
    </title>
    <link href="{% static "bootstrap/css/bootstrap-rtl.css" %}" rel="stylesheet">
</head>
<body dir="rtl">

<div class="container">

    <div class="pull-right">
        <a href="{% url "expenses:create_account" %}">Add Account</a>
        |
        <a href="{% url "expenses:create" %}">Add Expense</a>
        |
        {{ user }}
        |
        <a href="{% url 'logout' %}">Logout</a>
    </div>

    <h1>
        ExMaster!!!!!!!!!!!!!
    </h1>

    {% bootstrap_messages %}

    <div>

        {% block content %}
            CONTENT
        {% endblock %}

    </div>

</div>

</body>
</html>