{% extends "base.html" %}
{% load bootstrap3 staticfiles %}

{% block content %}

    <h1>{{ object }}</h1>

    {{ object.content_html|safe }}

    <p>

{#    <form method="post" id="likeform">#}
    <form method="post" id="likeform" action="{% url "blog:like" object.id %}">
        {% csrf_token %}
        <input type="hidden" name="like" value="1">
        <button class="btn btn-primary" id="send"><i
                class="glyphicon glyphicon-heart"></i> Like
        </button>
    </form>
    </p>



    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add comment</h3>
        </div>
        <div class="panel-body">
            <form method="post" id="commentform">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-primary" id="send">Comment</button>
            </form>
        </div>
    </div>
    <ul class="list-group" id="comments">
        {% for comment in object.comments.all %}
            {% include "blog/_comment.html" %}
        {% endfor %}
    </ul>


{% endblock %}

{% block scripts %}
    <script src="{% static "csrf.js" %}"></script>
    <script src="{% static "post_detail.js" %}"></script>
{% endblock %}

