{% extends "base.html" %}
{% load i18n bootstrap3 %}


{% block content %}

    <a href="{% url "expenses:list" %}">{% trans "Expenses" %}</a>
    &gt;
    {% trans "Add new expense..." %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans "Save " %} {% bootstrap_icon "save" %}
            </button>
        {% endbuttons %}
    </form>

{% endblock %}